/*last modified: July 02, by Panpan*/

/*universal*/
body{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height:15px;
  vertical-align: baseline;
  background: #010303;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div{
  display:block;
}

.corner{
  position:fixed;
  z-index:2;
  height:90px;
  width:150px;
}

#corner-logo{
  left:0px;
  top:0px;
  border-bottom:2px solid #B9B9B9;
}

.#corner-logo img{
  max-height:90px;
}

/*
#corner-mute{
	right:0px;
	top:0px;
    border-bottom:2px solid #B9B9B9;
}
*/

#corner-mute img{
	position:fixed;
	right:20px;
	top:20px;
	max-height:50px;
}

#corner-footer{
	height:60px;
	width:170px;
	left:0px;
	bottom:0px;
	border-top:2px solid #B9B9B9;
}

#corner-nav{
	height:60px;
	width:170px;
	right:0px;
	bottom:0px;
	border-top:2px solid #B9B9B9;
}

.diagonal-line{
	position:fixed;
	width:105px;
	height:1px;
}

#northWest{
	left:123px;
	top:45px;
	border-top:2px solid #B9B9B9;
	-webkit-transform:rotate(-60deg);
	-moz-transform:rotate(-60deg);
	-o-transform:rotate(-60deg);
	-ms-transform:rotate(-60deg);
	transform:rotate(-60)deg;
}

/*
#northEast{
	right:123px;
	top:45px;
	border-top:2px solid #B9B9B9;
	-webkit-transform:rotate(60deg);
	-moz-transform:rotate(60deg);
	-o-transform:rotate(60deg);
	-ms-transform:rotate(60deg);
	transform:rotate(60)deg;	
}
*/

#southWest{
	width:71px;
	left:152px;
	bottom:30px;
	border-bottom:2px solid #B9B9B9;
	-webkit-transform:rotate(60deg);
	-moz-transform:rotate(60deg);
	-o-transform:rotate(60deg);
	-ms-transform:rotate(60deg);
	transform:rotate(60)deg;		
}

#southEast{
	width:71px;
	right:152px;
	bottom:30px;
	border-bottom:2px solid #B9B9B9;
	-webkit-transform:rotate(-60deg);
	-moz-transform:rotate(-60deg);
	-o-transform:rotate(-60deg);
	-ms-transform:rotate(-60deg);
	transform:rotate(-60)deg;	
}

footer{
  position:fixed;
  z-index:5;
  left:20px;
  bottom:10px;
}

footer a{
    color:#ececec;
    font-size:1em;
	line-height:40px;
}

footer img{
	position:relative;
	max-height:30px;
	max-width:30px;
	margin-bottom:-10px;
}

nav{
	position:fixed;
	right:40px;
	bottom:25px;
	color:#ECECEC;
	font-size:1.8em;
}




/*end of universal*/

/*map-based universal*/
#map{
  position:absolute; 
  top:0; 
  bottom:0; 
  width:100%;
  z-index:-1;
}

/*end of map-base universal*/

/*rules affecting the popup-map class in the map page*/
.popup-map{
  position:fixed;
  top:20%;
  margin-left:65%;
  z-index:1002;
  background-color:transparent;
  color:#ececec;
  font-family: "Viner Hand ITC", Serif;
  font-weight:bold;
  border:0;
  font-size:22px;
  text-shadow:2px 2px rgba(217,0,0,0.7);
   
  -webkit-animation:fadein 1s; /*Safari and Chrome*/
  -moz-animation:fadein 1s; /*Firefox*/
  -ms-animation:fadein 1s; /*IE*/
  -o-animation:fadein 1s; /*Opera*/
  animation:fadein 1s;
}

@keyframes fadein{
	from {opacity:0;}
	to  {opacity:1;}
}

/*Firefox*/
@-moz-keyframes fadein{
	from {opacity:0;}
	to  (opacity:1;)
}

/*Safari and Chrome*/
@-webkit-keyframes fadein{
	from {opacity:0;}
	to  {opacity:1}
}

/*IE*/
@-ms-keyframes fadein{
	from {opacity:0;}
	to  {opacity:1;}
}

/*Opera*/
@-0-keyframes fadein{
	from {opacity:0;}
	to {opacity:1;}
}

/*end of popup-map class in the map page*/
