/*last modified: July 02, by Panpan*/

/*universal*/
body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }
/*end of universal*/

/*map-based universal*/
body{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height:15px;
  vertical-align: baseline;
  background: #010303;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div{
  display:block;
}

.logo{
  position:fixed;
  left:2.5%;
  top:30px;
  z-index:2;
  color:#ececec;
  font-size:2em;
  font-weight:bold;
  font-family: Algerian, "Viner Hand ITC", "Stencil Std", Chiller, "Times New Roman", Serif;
  line-height:100%;
}

.logo a{
  text-decoration:none;
  color:#ececec;
}

#map{
  z-index:-1;
}


.bar-container{
  position:fixed;
  width:100%;
  z-index:4;
  height:50px;
}

footer{
  position:fixed;
  color:#ececec;
  z-index:5;
  font-size:0.8em;
  width: 200px;
  float:left;
  margin-left: 2.5%; 
}

footer a{
  color:#ececec;

}

nav{
  float:right;
  margin-right:2.5%;
  background-color:rgba(236, 236, 236, 0.8);
  color:#010303;
  z-index:4;
  text-align:center;
  box-shadow:5px 10px 15px 0px rgba(220,220,230,0.6);
}

@media screen and (min-width:680px){
  .bar-container{
    bottom:40px;
  }

  footer{
    line-height:59px;
    }

  nav{
    height:50px;
    line-height:50px;/*together with height to achieve text vertical-align: middle*/
    width:60%;
  }
}

@media screen and (max-width:679px){
  #span-filter{
    visibility:hidden;
  }
  .bar-container{
    bottom:20px;
  }
  nav{
    width:100px;
    height:40px;
    line-height:40px;
  }
  footer{
    line-height:45px;
  }
}
/*end of map-base universal*/

/*rules affecting the popup-map class in the map page*/
.popup-map{
  position:fixed;
  bottom:50%;
  margin-left:7%;
  z-index:1002;
  background-color:transparent;
  color:#ececec;
  font-family: "Viner Hand ITC", Serif;
  font-weight:bold;
  border:0;
  font-size:22px;
  text-shadow:2px 2px rgba(217,0,0,0.7);
   
  -webkit-animation:fadein 1s; /*Safari and Chrome*/
  -moz-animation:fadein 1s; /*Firefox*/
  -ms-animation:fadein 1s; /*IE*/
  -o-animation:fadein 1s; /*Opera*/
  animation:fadein 1s;
}

@keyframes fadein{
	from {opacity:0;}
	to  {opacity:1;}
}

/*Firefox*/
@-moz-keyframes fadein{
	from {opacity:0;}
	to  (opacity:1;)
}

/*Safari and Chrome*/
@-webkit-keyframes fadein{
	from {opacity:0;}
	to  {opacity:1}
}

/*IE*/
@-ms-keyframes fadein{
	from {opacity:0;}
	to  {opacity:1;}
}

/*Opera*/
@-0-keyframes fadein{
	from {opacity:0;}
	to {opacity:1;}
}

/*end of popup-map class in the map page*/
